In [2]:
import pandas as pd
data = ['2016', '2017', '2018', '2019']
result = pd.Series(data)
print(result)

0    2016
1    2017
2    2018
3    2019
dtype: object

In [3]:
result.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
result.values

array(['2016', '2017', '2018', '2019'], dtype=object)

In [5]:
result.name = 'year'

In [6]:
print(result)

0    2016
1    2017
2    2018
3    2019
Name: year, dtype: object

In [7]:
result.index.name = 'No'
print(result)

No
0    2016
1    2017
2    2018
3    2019
Name: year, dtype: object

In [8]:
score = {'Kim':85, 'Hwang':100, 'Lee':99, 'Choi':80}
result = pd.Series(score)
print(result)

Kim       85
Hwang    100
Lee       99
Choi      80
dtype: int64

In [11]:
data = pd.Series([1, -1, 3, 5])
print(data)

0    1
1   -1
2    3
3    5
dtype: int64

In [14]:
#Data Frame
data = {
    'name' : ['Lee', 'Hwang', 'Kim', 'Choi'],
    'score' : [100,  95, 90, 85],
    'grade' : ['A', 'A', 'B', 'B']
}
print(data)

{'name': ['Lee', 'Hwang', 'Kim', 'Choi'], 'score': [100, 95, 90, 85], 'grade': ['A', 'A', 'B', 'B']}

In [16]:
df = pd.DataFrame(data)
print(df)

    name  score grade
0    Lee    100     A
1  Hwang     95     A
2    Kim     90     B
3   Choi     85     B

In [18]:
data = {
    'name' : ['Lee', 'Hwang', 'Kim', 'Choi'],
    'score' : [100,  95, 90, 85],
    'grade' : ['A', 'A', 'B', 'B']
}

c = ['name', 'grade', 'score', 'etc']
df2 = pd.DataFrame(data, columns=c)
print(df2)

    name grade  score  etc
0    Lee     A    100  NaN
1  Hwang     A     95  NaN
2    Kim     B     90  NaN
3   Choi     B     85  NaN

In [19]:
df2['name']

0      Lee
1    Hwang
2      Kim
3     Choi
Name: name, dtype: object

In [20]:
df2['etc']

0    NaN
1    NaN
2    NaN
3    NaN
Name: etc, dtype: object

In [21]:
df2.grade

0    A
1    A
2    B
3    B
Name: grade, dtype: object

In [22]:
df2.etc = 0

In [23]:
print(df2)

    name grade  score  etc
0    Lee     A    100    0
1  Hwang     A     95    0
2    Kim     B     90    0
3   Choi     B     85    0

In [26]:
import numpy as np
etc_list = np.zeros(4)
etc_list = np.random.rand(4)
df2.etc = etc_list

In [27]:
print(df2)

    name grade  score       etc
0    Lee     A    100  0.589202
1  Hwang     A     95  0.808625
2    Kim     B     90  0.326914
3   Choi     B     85  0.445085